<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/fav.png" />
  	<script src="//connect.soundcloud.com/sdk.js"></script>
    <script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
    <link rel="stylesheet" href="/assets/main.css">
     <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="description" content="astronomyy.fm | Listen to the 'There For U' EP from astronomyy">
    <title>The Flatiron School | This is for All My Basic Bitches</title>
    <meta property="og:title" content="flatironschool.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="assets/fb.jpg"/>
    <meta property="og:url" content="http://flatironschool.com"/>
    <meta property="og:site_name" content="flatironschool.com"/>
    <meta property="og:description" content="The Flatiron School | This is for All My Basic Bitches"/>

    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@flatironschool">
    <meta name="twitter:creator" content="@flatironschool">
    <meta name="twitter:domain" content="The Flatiron School | Where my basic bitches at?!?">
    <meta name="twitter:title" content="The Flatiron School - Scented candles, infinity scarves, basicness">
    <meta name="twitter:description" content="The Flatiron School - Scented candles, infinity scarves, basicness">
    <meta name="twitter:image" content="assets/fb.jpg">


  </head>
  <!--[if lt IE 9]>
    <script>
    alert("Looks like you're using an old browser. In order to view this site please update your browser to it's latest version");
    </script>
  <![endif]-->
  <body>
    <div class="mobileTouch"></div>
    <div class="wrapper">
      <div class="share">
        <p>SHARE:</p>
          <a href="https://twitter.com/intent/tweet?text=Hey,%20@flatironschool%20call%20it%20a%20day!%20It's%20Pumpkin%20Spice%20latte%20time!"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=Uhttp://www.flatironschool.com&t=flatironschool.com"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="mailto:?subject=I found the most fabulous scented candles!">
          <i class="fa fa-envelope"></i>
        </a>
      </div>
      <div class="cover">
        <table>
          <tr>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td class='thir'></td>
            <td class='trans thir'><img src="/assets/mask.png"/></td>
            <td class='thir'</td>
          </tr>
          <tr>
            <td class='thir'></td>
            <td class='thir'>
              <div class="launchBtn launch-button">
                LAUNCH
              </div>
              <div class="linkContainer">
                <a href="http://www.youtube.com/watch?v=PaghIdSJKvQ"  target="_blank">
                <div class="launchBtn video link">
                  ARE YOU BASIC? <br>
                  (CLICK TO FIND OUT)
                </div>
              </a>
                <a href="http://www.youtube.com/watch?v=z9ylLpuMLZ0" target="_blank">
                <div class="launchBtn tickets link">
                  1000 WAYS TO WEAR AN INFINITY SCARF
                </div>
                </a>
              </div>
            </td>
            <td class='thir'></td>
          </tr>
        </table>
      </div>
      <div class="kyldo"></div>
      <div class="mobileLogo">
        <div class="logo">
          <img src="/assets/logo.png" alt="">
        </div>
      </div>
      <div class="nav">
        <div class="title">T</div>
        <div class="logo">
          <img src="/assets/logo.png" alt="">
        </div>
        <div class="controls">
          <div class="menuBtn controlBtn">
            <!-- <i class="fa fa-bars"></i> -->
            <img src="/assets/menu.png" alt="">
          </div>
          <div class="pauseBtn controlBtn playing">
            <i class="fa fa-play"></i>
            <i class="fa fa-pause"></i>
            <!-- <img src="/assets/pause.png" class='fa-pause'alt=""> -->
          </div>
          <div class="skipBtn controlBtn">
             <i class="fa fa-forward"></i> 
          </div>
        </div>
      </div>

      <div class="expandMenu">
        <div class="expandClose">
          <i class="fa fa-times"></i>
        </div>
        <div class="social">
          <a href="https://soundcloud.com/flatironschool" target="_blank">
            <i class="fa fa-soundcloud"></i>
          </a>
          <a href="http://www.facebook.com/flatironschool" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/flatironschool" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="http://instagram.com/flatironschool" target="_blank">
            <i class="fa fa-instagram"></i> 
          </a>
        </div>
        <div class="links">
          <a href="http://www.flatironschool.com/faculty.html" target="_blank" class="download">
            BASIC BITCHES
          </a>
          <a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords=infinity%20scarves" target="_blank">
            INFINITY SCARVES
          </a>
          <a href="http://www.starbucks.com/menu/drinks/espresso/pumpkin-spice-latte" target="_blank" class="itunes">
            PUMPKIN SPICE LATTES
          </a>
          <a href="http://www.yankeecandle.com/" target="_blank" class="spotify">
            SCENTED CANDLES
          </a>
        </div>
      </div>


        <script src="/assets/modernizr.js"></script>
        <script type="text/javascript" src="/assets/global.js"></script>
        <script type="text/javascript" src="/assets/script_tmt_validator.js"></script>
        <script src='/assets/fastclick.js'></script>
        <script src='/assets/main.js'></script>
  </body>
</html>